@import "./_buefy.scss";
@import "./_fonts.scss";

* {
  font-family: "silka", sans-serif !important;
}
.db {
  border: 1px solid red;
}

body {
  max-width: 100% !important;
  overflow: hidden;
  overflow-y: auto;
  background-color: #f3f4f6;
}

.choice {
  background-color: white;
  border: 3px solid transparent;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  width: 50%;
  &.-active {
    border: 3px solid #6a4dff;
  }
  &:hover {
    background-color: #f5f5f5;
  }
}

.outlineButton {
  border: 1px solid #6a4dff;
  border-radius: 0.5rem;
  display: inline-flex;
  &:hover {
    color: white;
    background-color: #6a4dff;
  }
}

.blackButton {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 9999px;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: black;
  color: white;
  &:hover {
    background-color: #6a4dff;
    color: white;
  }
}

.whiteButton {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 9999px;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: white;
  color: black;

  &:hover {
    background-color: white;
    color: #6a4dff;
  }
}

.addButton {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 9999px;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: black;
  color: white;

  &:hover {
    background-color: #6a4dff;
    color: white;
  }
}

.sequenceBox {
  background-color: white;
  border-radius: 0.25rem;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  margin-top: 0.5rem;
  padding: 1rem 1rem 1rem 1.5rem;
}

.sqphoto {
  margin-top: 24rem;
}

.paddingLeft {
  padding-left: 70%;
}

.purpleText {
  color: #6a4dff;
}

.curveBg {
}

.onTop {
  z-index: 9;
}

.bubble {
  position: relative;
  width: 500px;
  background: #6a4dff;
  border-radius: 40px;
  padding: 24px;
  text-align: left;
  color: white;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 24px solid #6a4dff;
  border-left: 12px solid transparent;
  border-top: 12px solid #6a4dff;
  border-bottom: 20px solid transparent;
  left: 430px;
  bottom: -24px;
}
