* {
  font-family: 'Jost', sans-serif;
}
.db {
  border: 1px solid red;
}
html {
  background-color:#F3F4F6;
}

.choice {
  background-color: white;
  border: 3px solid transparent;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
  0 0px 0 1px rgba(10, 10, 10, 0.02);
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
  0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  width: 50%;
    &.-active {
      border: 3px solid #6A4DFF;
    }
    &:hover {
      background-color: lightgrey;
    }
}
